coverage
detect-secrets==1.0.3
myst-parser
pre-commit
pytest
python-dotenv
Sphinx
toml
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform
google-cloud-artifact-registry
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigquery-storage
google-cloud-core
google-cloud-datastore
google-cloud-functions
google-cloud-iam
google-cloud-jupyter-config
google-cloud-language
google-cloud-monitoring
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
ipython
ipykernel
pandas
matplotlib
seaborn
plotly
numpy

